//Font Size

$font-xxl: 76px;
$font-xl: 48px;
$font-l: 24px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 16px;
$font-xxs: 14px;

//Font Weight

$xtra-bold: 800;
$semi-bold: 700;
$bold: 600;
$normal: 400;

//Font Line Height

$line-xxl: 92px;
$line-xl: 68px;
$line-l: 40px;
$line-m: 32px;
$line-s: 28px;

//Font Style

$bold: bold;
$standard: normal;
$italic: italic;

//Color Library
$brand-color: #1E8C0D;
$grey-color: #171717;
$other: #FFFFFF;
$grey: #747474;
$dark-green: #0D3E06;
$light-green: #E3FBD9;
$green: #3FC431;
$blue: #3366FF;
$light-red: #FFE3D6;
$light-blue: #D6E4FF;
$lighten-green: #f6faf5;